div.techniques {
    background-color: var(--vscode-sideBar-background);
    margin: 1.5% auto;
    padding: 0.3% 1%;
}
button.navigation {
    margin-top: 1%;
}
div#nav-summary {
    margin: auto 1%;
    display: inline;
}
